/* Styling for the Electronic Gaming Society at RIT website */
html,

@font-face{
	font-family: bignoodletitling;
	src:url("bignoodletitling.ttf");
}
@font-face{
	font-family: roboto;
	src:url("roboto-regular.ttf");
}
@font-face{
	font-family: roboto-bold;
	src:url("roboto-bold.ttf");
}
@font-face{
	font-family: roboto-italic;
	src:url("roboto-italic.ttf");
}
@font-face{
	font-family: ARIALNB;
	src:url ("ARIALNB");
}

b{ 
	font-family: roboto-bold;
}
i{
	font-family: roboto-italic;
}
body {
	width: 100%;
	font-family: "roboto", sans-serif;
}
h1 {
	font-family: "bignoodletitling", "ARIALNB", "roboto-bold", sans-serif;
	font-size: 30px;
}
hr {
	height: 8px;
	background-image: linear-gradient(90deg, #f9a572, transparent);
	margin: 10px 0px 0px 0px;
	border: 0px;
	height: 1px;
}
ul {
	list-style-type: circle;
}
#schedule{
	list-style-type: none;
}
#commnames{
	font-family: "bignoodletitling", "ARIALNB", "roboto-bold", sans-serif;
	font-size: 30px;
	list-style-type: none;
	columns: 3;
	text-align: center;
}
/*Meet Our Eboard*/
.eboard {
	padding: 0px;
	width: 85%;
}
.eboard img{
	margin: 10px;
}
/*FAQ*/
#faqq{
	font-style: italic;
	color: #f36e24;
}
#faqa{
	text-decoration: none;
	margin: 0px 0px 0px 50px;
}
/*Game Library*/
.collapsible {
	background-color: #f9a572;
	color: #ffffff;
	cursor: pointer;
	padding: 5px 25px 5px 25px;
	margin: 10px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
}
.collapsible:hover {
	background-color: #f36e24;
	transition: .3s background-color;
}
.games{
	list-style-type: none;
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #ffffff;
}

.sticky {
	z-index: +500;
	position: -webkit-sticky;
	position: sticky;
	top: -1px;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}

/* Navigation Bar */
.nav {
	position: -webkit-sticky;
	position: sticky;
	background-color: #f9a572;
	overflow: hidden;
	padding: 0px 50px 0px 50px;
	text-align: center;
	width: 100%;
}
.nav ul{
	list-style: none;
	columns: 6;
}
.nav li{
	display: inline;	
	line-height: 50px;
	height: 50px;
}
.nav a{
	display: block;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	transition: .3s background-color;
	font-family: "bignoodletitling", "ARIALNB", "roboto-bold", sans-serif;
	font-size: 30px;
}
.nav a:hover{
	color: #ffffff;
	background-color: #f36e24;
	text-shadow: 0px 0px 10px #fbc4a3;
}
.nav li li {
	font-size: 20px;
}

/* Page Content */
.content{
	text-align: left;
	margin: 30px 100px 30px 100px;
	font-size: 16px;
}
.content a{
	color: #f36e24; 
	text-decoration: none;
}
.content a:hover{
	color: #f9a572;
	transition: .3s color;
}
.bodyimage{
	margin: 0px 30px;
}

#commlink img{
	opacity: 0.63;
}
#commlink img:hover {
	opacity: 1;
	transition: opacity .3s ease;
}

.clear{
	padding: 5px;
}

/* Slide Show */
* {box-sizing: border-box}
.slideshow-container {
	max-width: 500px;
	position: relative;
	float: left;
	margin: 30px 30px 30px 100px;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	margin: 0px 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Mail Chimp*/
.mcdiv {
	text-align: center;
}
.button {
	font-family: "roboto-bold", sans-serif;
	color: #ffffff;
	background-color: #f9a572;
	float: absolute;
	border: 0px;
	padding: 7px;
	margin: 10px;
	text-decoration: none;
}
.button:hover{
	background-color: #f36e24;
	transition: .3s background-color;
}

/* Footer */
.foot{
	width: 100%;
	height: 150px;
	background-color: #f9a572;
	padding: 15px; 
	color: #ffffff;
	clear: both;
}
#footlogo{
	margin: 10px 100px 0px 100px;
	float: left;
	height: 50%;
}
#footlogo:hover{
	transition: .3s opacity;
	opacity: .75; /*maybe this should fade to orange, not transparent*/
}
.footlinks{
	font-family: "roboto", sans-serif;
	text-align: center;
	position: center;
	columns: 2;
	font-size: 12px;
	margin: 0px 100px 0px 0px;
	padding: 0px 100px 0px 0px;
}
.footlinks a{
	color: #ffffff;
	text-decoration: none;
}
.footlinks a:hover{
	color: #f36e24;
}

.connect{
	font-size: 15px;
	font-family: "roboto-bold", sans-serif;
	float: right;
	text-align: center;
	margin: 0px 100px 0px 0px;
}

/*Footer Social Media Links*/
.sociallinks{
	float: right;
	columns: 5;
	margin: 5px 0px 0px 0px;
}
.sociallinks a {
	display: block;
}
.sociallinks a:hover{
	transition: background-color 0.3s ease;
	background-color: #f36e24;
}

/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 600px) {
	
}